* 
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body
{
    background-color: rgb(172, 172, 172);
}

/* Header : our nav bar propreties*/
#header
{
    width: 100vw;
    height: 9vh;
    display: block;
    background-color: #303030;
}

/*container of all header components*/
.header_container
{
    width: 80vw;
    height: 100%;
    display: block;
    margin: 0 auto;
}

/* Logo and logo manipulation*/
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    text-transform: uppercase;
    color: springgreen;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    /* Shadow and shadow animation*/
    text-shadow: 0 0 2px rgba(0, 255, 127, 0.3);
    transition: 0.5s text-shadow;
}
/*shadow animation for the logo*/
#header:hover .logo_container h1
{
    text-shadow: 0 5px 8px rgba(0, 255, 127, 0.6);
}

/* Navigation options*/
.navigation
{
    float: right;
    height: 100%;
}
.navigation a
{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    color: white;
}
.navigation a li 
{
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.4em;
    color: inherit;
}
.navigation a:hover{
    color: springgreen;
    background: #202020;
}


/* Burger and responsive*/
#burger
{
    display: none;
}
.menu{
    float: right;
    height: 100%;
    display: flex;
}
.menu img
{
    align-self: center;
    height: 35%;
    cursor: pointer;
    display: none;
}

/* Code shower*/
.container 
{
    width: 80vw;
    height: 91vh;
    <!--display: grid;-->
    display: none;
}
.container .code
{
    width: 90%;
    padding: 5px;
    justify-self: center;
}

/* Responsive Nav
@media (max-width : 900px) {
    .header_container
    {
        width: 98%;
    }
}*/

@media (max-width : 950px) {
    .menu img 
    {
        display: block;
    }
    .navigation
    {
        display: grid;
        position: fixed;
        top: 9vh;
        left: -100vw;
        background-color: #404040;
        width: 100vw;
        height: 91%;
        align-items: center;
        transition: 0.6s left;
    }
    .navigation a
    {
        font-size: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s color;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .navigation a:hover{
        background: none;
    }
    #burger:checked ~ .navigation
    {
        left: 0;
    }
    
}






/*#burger_container
{
    float: right;
    display: table;
    height: 100%;
}
#burger_container img
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}*/





/*
.centre
{
    display: table;
    height: 100%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
}
.centre h1
{
    display: table-cell;
    vertical-align: middle;
}*/
